
a:hover {color: pink}

/* p{
margin-left:20px;
margin-right:20px;
} */
@font-face {
	font-family: Halogen;
	src: url("fonts/Halogen.ttf")
	}

h1, h2, h3{
	font-size: 20pt;
	font-family: Halogen, Sans-serif;
	font-style: normal
} 
p, ul, ol, a{
	font-size: 14pt;
	font-family: Halogen, Sans-serif; 
	font-style: normal
	}
p {text-indent: 10mm}

th, figcaption {
	font-size: 12pt;
	font-family: Halogen, Sans-serif; 
	font-style: normal}
	
