
a:hover {color: pink}


@font-face {
	font-family: Halogen;
	src: url("fonts/Halogen.ttf")
	}

.cls1{
	font-size: 20pt;
	font-family: Halogen, Sans-serif;
	font-style: normal
} 
.cls2{
	font-size: 14pt;
	font-family: Halogen, Sans-serif; 
	font-style: normal
	}
p {text-indent: 10mm}

th, figcaption {
	font-size: 12pt;
	font-family: Halogen, Sans-serif; 
	font-style: normal}
	
.cls3{
margin-left: 25mm;
margin-right: 25mm;
margin-top: 5mm;
padding-left: 5mm;
padding-right: 5mm;
padding-top: 5mm;
padding-bottom: 5mm;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-radius: 20px;
background-color: #FFC0CB;
BORDER-WIDTH: 0px 
}
 
	
